.Contact {
  --h2margin: 0 0 1rem 0;
  --pl: 2rem;
  --pr: 2rem;
  --pt: 5rem;
  --pb: 5rem;
  h2 {
    font-size: 1.5em;
    margin-bottom: 2rem;
    text-align: center;
  }
  p {
    margin-bottom: 5rem;
  }
  img {
    width: 50%;
    max-width: 150px;
    margin: 0 auto;
  }
  @media (orientation: portrait) {
  }
  @media (orientation: landscape) {
    padding-top: get-vw(240px);
    padding-left: 0;
    padding-bottom: get-vw(105.4px);
    padding-right: 0;
    h2 {
      font-size: get-vw(90px);
      margin-bottom: get-vw(70px);
    }
    p {
      font-size: get-vw(61px);
      line-height: get-vw(73px);
      width: auto;
      display: table;
      margin: 0 auto get-vw(230.2px);
    }
    img {
      width: get-vw(209.9px);
      max-width: unset;
    }
  }
  @media (max-width: 767px) and (orientation: landscape) {
    img {
      width: 50%;
      max-width: 150px;
      margin: 0 auto;
    }
  }
  @media (min-width: 768px) {
  }
  @media (min-width: 1024px) {
  }
  @media (min-width: 1600px) {
  }
  @media (min-width: 1921px) {
  }
}
