.Distribution {
  @media (orientation: portrait) {
    --h2margin: 0 0 1rem 0;
    --pl: 2rem;
    --pr: 2rem;
    --pt: 3rem;
    --pb: 5rem;
    line-height: 1.2;
    ul,
    li {
      font-size: 1.05em;
    }
    span {
      font-size: 1.2em;
    }
    &__img {
      width: 70%;
      margin: 2em auto 0;
      img {
        margin: 0 auto;
      }
    }
    h2 {
      font-size: 1.5em;
      margin: 1em auto;
      text-align: center;
    }
    p {
      margin-bottom: 1em;
    }
  }
  @media (orientation: landscape) {
    padding-left: get-vw(209px);
    padding-right: get-vw(210.1px);
    padding-top: get-vw(175.3px);
    padding-bottom: get-vw(230px);
    display: grid;
    grid-template-columns: get-vw(648.6px) 1fr;
    column-gap: get-vw(165.2px);
    p {
      font-size: get-vw(30px);
      margin-bottom: get-vw(50px);
    }
    h2 {
      font-size: get-vw(50px);
      margin-top: get-vw(55.9px);
      margin-bottom: get-vw(50px);
    }
    span {
      font-size: get-vw(40px);
    }
    li {
      font-size: get-vw(35px);
      font-weight: 700;
    }
    br {
      display: block;
    }
  }
  @media (min-width: 1024px) {
  }
  @media (min-width: 1600px) {
  }
  @media (min-width: 1921px) {
  }
  @media (orientation: landscape) and (max-width: 780px) {
  }
}
