$body-color: #fff;
$body-color-secondary: #eeebe6;
$text-color: #545454;
$body-font-family: 'Century Gothic Pro', 'sans-serif';
$body-font-size: 18px;
$body-font-family-secondary: 'Abril Fatface', 'serif';

:root {
  --mt: 0;
  --mr: 0;
  --mb: 0;
  --ml: 0;
  --pt: 0;
  --pr: 0;
  --pb: 0;
  --pl: 0;
  --body-color: #fff;
  --body-color-secundary: #eeebe6;
  --text-color: #545454;
  --body-font-family: 'Century Gothic Pro', 'sans-serif';
  --font-size: 18px;
  --body-font-family-secondary: 'Abril Fatface', 'serif';
}
